__pycache__/
*.pyc
*.egg-info/
.ruff_cache/
.pytest_cache/
.mypy_cache/

venv/
.venv/
.env

data/*.csv
data/*.parquet

models/*.pt
models/*.pth
models/*.pkl
models/*.json

logs/
backtests/*.json

.ipynb_checkpoints/
*.swp
.DS_Store
